useDynLib(DDPGPSurv)
importFrom(Rcpp, evalCpp)
import(stats)
import(graphics)
import(MASS)
import(survival)
import(mc2d)
import(mvnfast)
export(mcmc_DDPGP)
export(DDPGP_Dens)
export(DDPGP_Surv)
export(DDPGP_Haz)
export(DDPGP_meansurvival)
export(simulate_data)
